button {
	background-color:#ffd9ad;
	color: #656565;
	border-radius: 10px;
}
body {
	background-image: url("http://platinumwall.ru/wallpapers/tn_big/platinumwall.ru_201003310848213848.jpg");
	text-align: center;
	background-size: 105%;
	color: #656565;
	background-position: center;
	font-size: 24px;
}