

h1 {
	color: red;
}

a {
	color: red;
}
header{background:lightgrey; color: orange;}

.orange{background: blue;}
body{
font-family: Courier New;
background-image: url("Solid_blue.svg.png"); 
background-repeat:no-repeat;
}
img{width:50%;}

.disapper:hover
{
	transform: scale(0,0);

}

.spin:hover
{
	transform: rotate(5760deg);
transition-duration:40000ms;
}

.back{width:5%;}
